body{
	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: cover;

	font-family: 'Roboto Mono', sans-serif;
	margin-top: 100px;
}

h1{
	color: white;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 0;
}

h2{
	color: white;
	font-size: 18px;
	margin-top: 0px;
}

.bio {
	color: white;
	font-size: 14px;
	margin-top: 30px;
}

.me {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;

}

.about {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}